<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hanum.hanum_waktu_sholat">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.compass" />
    <uses-feature android:name="android.hardware.location" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.hanum.hanum_waktu_sholat.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.hanum.hanum_waktu_sholat.activity.ArahKiblatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/arah_kabah"
            android:parentActivityName="com.hanum.hanum_waktu_sholat.MainActivity" />
        <activity
            android:name="com.hanum.hanum_waktu_sholat.activity.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hanum.hanum_waktu_sholat.activity.splascreen.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hanum.hanum_waktu_sholat.activity.listsurah.QuranActivity"
            android:label="@string/listsurah"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.hanum.hanum_waktu_sholat.activity.listayat.ListAyatActivity"
            android:label="@string/listayat"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.hanum.hanum_waktu_sholat.activity.notes.NotesActivity"
            android:label="@string/title_activity_notes"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.hanum.hanum_waktu_sholat.service.AlarmNotifikasi"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>